@using System.Linq
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <ErrorView Exception=context />
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
@code {
    ErrorBoundary? errorBoundary;

    protected override void OnParametersSet() => errorBoundary?.Recover();
}